@import '../index.scss';

.blog-details-wrap{
    font-family: 'Times New Roman', Times, serif;
    .title{
        font-size: 50px;
        text-align: center;
        margin: 3% 0 4% 0;
        text-decoration: underline;
        color: $gerua;
    }
    h1{
        line-height: 1;
    }
    p{
        font-family: $roboto;
    }
    i{
        font-size: 25px;
        line-height: 1.2;
        border-left: 2px solid $gerua;
        display: inline-block;
        padding-left: 20px;
        margin: 20px 0;
    }
}